.dialog-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 1s, z-index 1s;
    z-index: -1;
    &.show {
        opacity: 1;
        z-index: 99;
        .content {
            left: 50%;
            top: 50%;
            width: 400px;
            height: 260px;
        }
    }
    .content {
        position: absolute;
        left: -20px;
        top: -50px;
        width: 240px;
        height: 156px;
        margin: -130px 0 0 -200px;
        box-shadow: 0 0 0 2px #666;
        background: #fff;
        border-radius: 5px;
        transition: left 1s, top 1s, width 1s, height 1s;
        transition-timing-function: cubic-bezier(.64, .08, .49, 1.2);
    }
    .msg {
        text-align: center;
        font-size: 20px;
        margin-top: 50px;
    }
    .btn {
        margin-top: 20%;
        text-align: center;
        a {
            display: inline-block;
            width: 70px;
            height: 25px;
            line-height: 25px;
            padding: 5px;
            margin: 0 20px;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            &.sure {
                background: #caa86c;
                &:hover {
                    background: #f5ecdd;
                }
            }
            &.cancel {
                background: #b2b2b2;
                &:hover {
                    background: #e7e7e7;
                }
            }
        }
    }
}

// .dialog-open {
//     position: relative;
//     z-index: 9;
//     cursor: pointer;
// }
// .dialog-open.hide {
//     display: none;
// }
