.tree-container {
    width: 400px;
    background: #f5f6f8;
    cursor: default;
}

.tree-level0 {}

.tree-level1 {
    padding-left: 40px;
}

.tree-level2 {
    padding-left: 80px;
}

.tree-level3 {
    padding-left: 120px;
}

.tree-level4 {
    padding-left: 160px;
}
