.dialog-test {
    text-align: left;
    .list {
        width: 600px;
        margin-bottom: 20px;
        li {
            line-height: 30px;
            border: 1px solid #eee;
            border-bottom: none;
            text-align: center;
            &:last-child {
                border-bottom: 1px solid #eee;
            }
            &:nth-child(even) {
                background: #f9f9f9;
            }
        }
    }
    .del {
        display: inline-block;
        height: 30px;
        padding: 0 20px;
        line-height: 30px;
        border: 1px solid #eee;
        background: #f9f9f9;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background: #eee;
        }
    }
}
