body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
    margin: 0;
    padding: 0
}

input,
select,
textarea {
    font-size: 100%
}

ul,
ol,
li {
    list-style: none
}

input:focus,
a:focus {
    outline: 0
}

input:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

.app {
    height: 100%;
}

@media (min-width: 768px) {
    .nav-tab {
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
        background: #f9f9f9;
        box-shadow: 0 0 0 2px #eee;
        .tab-head {
            height: 80px;
            line-height: 80px;
            text-align: center;
            background: #edf1f2;
            color: #333;
            .view-wap {
                display: none;
            }
        }
        ul {
            li {
                height: 40px;
                line-height: 40px;
                padding: 5px 0 5px 40px;
                &:hover {
                    background: #d8dbdc;
                    box-shadow: 0 0 0 2px #eee inset;
                }
            }
        }
        a {
            text-decoration: none;
            color: #333;
        }
    }
    .nav-content {
        width: 100%;
        height: 100%;
        .content-box {
            height: calc(100% - 80px);
            margin-left: 260px;
            padding-left: 30px;
            color: #333;
            padding-top: 80px;
            overflow: scroll;
        }
    }
}

@media (max-width: 768px) {
    .nav-tab {
        width: 100%;
        background: #f9f9f9;
        box-shadow: 0 0 0 2px #eee;
        .tab-head {
            posotion: relative;
            height: 80px;
            line-height: 80px;
            padding-left: 10px;
            background: #edf1f2;
            color: #333;
            .view-wap {
                float: right;
                padding: 0 20px;
            }
        }
        ul {
            display: none;
            width: 100px;
            position: absolute;
            right: 0;
            top: 80px;
            background: #edf1f2;
            li {
                height: 40px;
                line-height: 40px;
                padding: 5px 0;
                text-align: center;
                &:hover {
                    background: #d8dbdc;
                    box-shadow: 0 0 0 2px #eee inset;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
            &.list-show {
                display: block;
            }
        }
        a {
            text-decoration: none;
            color: #333;
        }
    }
    .nav-content {
        .content-box {
            padding: 30px 0 0 30px;
        }
    }
}

.view-src {
    display: block;
    margin-bottom: 20px;
}

.link-list {
    margin-top: 20px;
    li {
        line-height: 30px;
    }
}
